.promis-form-container {
    background: #292942;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
}

.promis-question {
    font-weight: bold;
    font-size: 16px;
}

.promis-questions-container,
.question-and-answers {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.question-and-answers {
    margin-bottom: 20px;
}

.answers {
    display: flex;
    column-gap: 55px;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.answer-radio {
    transform: scale(1.5);
}

.question-announcement {
    font-size: 24px;
    color: rgb(80, 80, 101);
    text-align: center;
    margin-bottom: 40px;
    color: black;
}


.notes-input,
.notes-input:focus {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    color: black;
    outline: none;
    height: 35px;
}

.promis-form-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.promis-form-submit-button {
    background-color: rgb(92, 155, 217);
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    width: 100%;
}


.additional-info {
    font-size: 18px;
    font-weight: bold;
}
