@model AppLogin

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/loginForm.css" />
<link rel="stylesheet" href="~/css/general.css" />

<div class="login-form-container">
    <h1>Welcome!</h1>
    <form id="loginForm" asp-controller="AppUser" asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger error-message"></div>

        <input type="text" placeholder="Username" asp-for="Username" required>
        <input type="password" placeholder="Password" asp-for="Password" required>
        <input type="hidden" name="adminLogin" id="adminLogin" value="false" />

        <button type="submit">Login</button>

        <input type="button" class="register-button" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "AppUser") + "'");" />

        <input type="button" class="register-button" value="Admin Login" onclick="setAdminLoginAndSubmit();" />
    </form>
</div>

<script>
    function setAdminLoginAndSubmit() {
        document.getElementById('adminLogin').value = 'true';
        document.getElementById('loginForm').submit();
    }
</script>
